<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="drone_macro" params="suffix parent">
    <link name="baselink_${suffix}"/>
    <link name="sensor_${suffix}"/>

    <joint name="baselink_${suffix}_joint" type="floating">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${parent}"/>
      <child  link="baselink_${suffix}"/>    
    </joint>

    <joint name="sns_${suffix}_joint" type="fixed">
      <origin rpy="${radians(90)} 0 0" xyz="0 0 0"/>
      <parent link="baselink_${suffix}"/>
      <child  link="sensor_${suffix}"/>
    </joint>

  </xacro:macro>
</robot>
