<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pybullet_ros">
  <link name="map" />
  <link name="world"/>

  <joint name="map_world" type="fixed">
    <origin rpy="0 0 0" xyz="1 0 0"/>
    <parent link="map"/>
    <child  link="world"/>    
  </joint>

  <xacro:include filename="$(find pybullet_ros)/urdf/drone.urdf.xacro" />
  <xacro:drone_macro suffix='a' parent='world' />
  <xacro:drone_macro suffix='b' parent='world' />
  <xacro:drone_macro suffix='c' parent='world' />
  <xacro:drone_macro suffix='d' parent='world' />

</robot>
